<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milky Way</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" type="image/x-icon" href="/public/images/logoo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#home">
                <img src="/public/images/logo.png" alt="">
            </a>
        </div>
        <div class="menu">
            <div class="menu-list">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#detail-menu">Menu</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="search-bar">
                <form onsubmit="return validateAndRedirect()">
                    <input type="text" id="searchInput" placeholder="Search..." >
                  </form>
            </div>
        </div>            
    </nav>
    <div class="wrapper">
        <section id="home">
            <div class="kolom">
                <div class="deskripsi">
                    <p>Discover Your Perfect Dish</p>
                    <div class="toko">
                        <h1>Milky Way</h1>
                    </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi, non tempora quos vitae sequi deleniti explicabo autem eius provident?</p>
                    <div class="button">
                        <a href="#detail-menu">Explore Food</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="detail-menu">
            <div class="title">
                <h1>Populer Desserts</h1>
            </div>
            <div class="list">
                <div class="dish">
                    <div class="gambar">
                        <img src="/public/images/pancake.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Pancake</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, qui id tempora voluptatibus facilis unde fugit magni! Ex, suscipit?</p>
                    </div>
                    <div class="tombol">
                        <a href="pancake.html">View More</a>
                    </div>
                </div>
                <div class="dish">
                    <div class="gambar">
                        <img src="/public/images/cupcake.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Cupcake</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, qui id tempora voluptatibus facilis unde fugit magni! Ex, suscipit?</p>
                    </div>
                    <div class="tombol">
                        <a href="cupcake.html">View More</a>
                    </div>
                </div>
                <div class="dish">
                    <div class="gambar">
                        <img src="/public/images/tiramisu.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Tiramisu</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, qui id tempora voluptatibus facilis unde fugit magni! Ex, suscipit?</p>
                    </div>
                    <div class="tombol">
                        <a href="tiramisu.html">View More</a>
                    </div>
                </div>
                <div class="dish">
                    <div class="gambar">
                        <img src="/public/images/croisssant.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Croissant</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, qui id tempora voluptatibus facilis unde fugit magni! Ex, suscipit?</p>
                    </div>
                    <div class="tombol">
                        <a href="croissant.html">View More</a>
                    </div>
                </div>
                <div class="dish">
                    <div class="gambar">
                        <img src="/public/images/donat.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Donut</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, qui id tempora voluptatibus facilis unde fugit magni! Ex, suscipit?</p>
                    </div>
                    <div class="tombol">
                        <a href="donut.html">View More</a>
                    </div>
                </div>
                <div class="dish">
                    <div class="gambar">
                        <img src="/public/images/sandwich.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Sandwich</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, qui id tempora voluptatibus facilis unde fugit magni! Ex, suscipit?</p>
                    </div>
                    <div class="tombol">
                        <a href="sandwich.html">View More</a>
                    </div>
                </div>
                <div class="dish">
                    <div class="gambar">
                        <img src="/public/images/puding.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Pudding</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, qui id tempora voluptatibus facilis unde fugit magni! Ex, suscipit?</p>
                    </div>
                    <div class="tombol">
                        <a href="pudding.html">View More</a>
                    </div>
                </div>
                <div class="dish">
                    <div class="gambar">
                        <img src="/public/images/gelato.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Gelato</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, qui id tempora voluptatibus facilis unde fugit magni! Ex, suscipit?</p>
                    </div>
                    <div class="tombol">
                        <a href="gelato.html">View More</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="about"></section>
    </div>
    <footer>
        <div class="container">
          <p>&copy; 2023 Milky Way</p>
          <nav>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </nav>
        </div>
      </footer>      
      <script src="/public/script/script.js"></script>
</body>
</html>